*.beam
.eunit
deps/*
ebin/*
dev
*.swp
include/*.swp
src/*.swp
test/*.swp
src/.DS_Store
.DS_Store
tags
.qc/
riak_test/ebin/*.beam
.eqc-info
current_counterexample.eqc
dialyzer_warnings
.rebar/
distdir
package
deps.test/
rt/
.combo_dialyzer_plt
build
.vagrant
_build/
TEST-*
data/
*.deb
log/
_checkouts/
priv/logs/*.csv
priv/plots/*.pdf
fprof.trace
.rebar3/
.eqc/
